/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100%;
}
body:before,
body:after {
  content: " ";
  display: table;
}
body:after {
  clear: both;
}
body:before,
body:after {
  content: " ";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  background-color: #507d2a;
}
body div.wrapper {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  color: #524a33;
}
body div.wrapper div.page {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-family: "Oxygen", sans-serif;
  /* HEADER */

  /* BODY */

  /* BLOCKS */

  /* FOOTER */

}
body div.wrapper div.page:before,
body div.wrapper div.page:after {
  content: " ";
  display: table;
}
body div.wrapper div.page:after {
  clear: both;
}
body div.wrapper div.page:before,
body div.wrapper div.page:after {
  content: " ";
  display: table;
}
body div.wrapper div.page:after {
  clear: both;
}
body div.wrapper div.page a {
  text-decoration: none;
  color: inherit;
  transition: color 0.25s linear;
  -webkit-transition: color 0.25s ease-out;
}
body div.wrapper div.page a:hover {
  color: #ee8822;
}
body div.wrapper div.page div.header-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 1rem 0.5rem 0 0.5rem;
  margin: 0;
  background-color: #507d2a;
  color: #ffffee;
}
body div.wrapper div.page div.header-container:before,
body div.wrapper div.page div.header-container:after {
  content: " ";
  display: table;
}
body div.wrapper div.page div.header-container:after {
  clear: both;
}
body div.wrapper div.page div.header-container:before,
body div.wrapper div.page div.header-container:after {
  content: " ";
  display: table;
}
body div.wrapper div.page div.header-container:after {
  clear: both;
}
body div.wrapper div.page div.header-container div.title-wrapper {
  margin: 0 2rem;
}
body div.wrapper div.page div.header-container div.title-wrapper h1 {
  margin-bottom: 0.5rem;
  color: #ffffee;
  font-family: "Allerta", "Helvetica", sans-serif;
  font-size: 5.5rem;
  line-height: 5.5rem;
  text-align: center;
  transition: color 0.25s linear;
  -webkit-transition: color 0.25s ease-out;
}
body div.wrapper div.page div.header-container div.title-wrapper h1:hover {
  color: #ee9933;
}
body div.wrapper div.page div.header-container div.title-wrapper h2 {
  color: #ffffee;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: 3px;
}
body div.wrapper div.page div.header-container div.quick-access {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
body div.wrapper div.page div.header-container div.quick-access:before,
body div.wrapper div.page div.header-container div.quick-access:after {
  content: " ";
  display: table;
}
body div.wrapper div.page div.header-container div.quick-access:after {
  clear: both;
}
body div.wrapper div.page div.header-container div.quick-access:before,
body div.wrapper div.page div.header-container div.quick-access:after {
  content: " ";
  display: table;
}
body div.wrapper div.page div.header-container div.quick-access:after {
  clear: both;
}
body div.wrapper div.page div.header-container div.quick-access form#search_mini_form {
  padding: 0 1rem;
  float: right;
}
body div.wrapper div.page div.header-container div.quick-access ul.links {
  float: left;
}
body div.wrapper div.page div.header-container div.quick-access ul.links:before,
body div.wrapper div.page div.header-container div.quick-access ul.links:after {
  content: " ";
  display: table;
}
body div.wrapper div.page div.header-container div.quick-access ul.links:after {
  clear: both;
}
body div.wrapper div.page div.header-container div.quick-access ul.links:before,
body div.wrapper div.page div.header-container div.quick-access ul.links:after {
  content: " ";
  display: table;
}
body div.wrapper div.page div.header-container div.quick-access ul.links:after {
  clear: both;
}
body div.wrapper div.page div.header-container div.quick-access ul.links li {
  padding-left: 1rem;
  padding-right: 1rem;
  list-style: none;
  float: left;
}
body div.wrapper div.page div.body-wrapper {
  background-color: #faf9ed;
  padding: 1rem;
  width: 100%;
  /* MAIN COLUMN */
  /* RIGHT COLUMN */

  /* LEFT COLUMN */

}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper {
  /* NAVIGATION */

  /* CONTENT BLOCKS */

}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container {
  /* All Levels */
  /* Style consistent throughout all nav levels */

  /* 0 Level */

  /* 1st Level */

  /* 2nd Level */

  /* 3rd+ Level */

  /* Show menu */

}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container:before,
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container:after {
  content: " ";
  display: table;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container:after {
  clear: both;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container:before,
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container:after {
  content: " ";
  display: table;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container:after {
  clear: both;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #91835a;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav:before,
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav:after {
  content: " ";
  display: table;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav:after {
  clear: both;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav:before,
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav:after {
  content: " ";
  display: table;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav:after {
  clear: both;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li {
  list-style: none;
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  margin-bottom: 0.5rem;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li a {
  padding: 0;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul:before,
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul:after {
  content: " ";
  display: table;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul:after {
  clear: both;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul:before,
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul:after {
  content: " ";
  display: table;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul:after {
  clear: both;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul li {
  margin: 0;
  margin-left: 5rem;
  background: rgba(145, 131, 90, 0.8);
  list-style: none;
  color: #ffffff;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul li.last {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul li ul:before,
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul li ul:after {
  content: " ";
  display: table;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul li ul:after {
  clear: both;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul li ul:before,
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul li ul:after {
  content: " ";
  display: table;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul li ul:after {
  clear: both;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul li ul li {
  list-style: none;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul li ul li.first {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul li ul li ul:before,
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul li ul li ul:after {
  content: " ";
  display: table;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul li ul li ul:after {
  clear: both;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul li ul li ul:before,
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul li ul li ul:after {
  content: " ";
  display: table;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul li ul li ul:after {
  clear: both;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul li ul li ul li {
  list-style: none;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li {
  position: relative;
  text-align: left;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li.over {
  z-index: 5;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav a,
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav a:hover {
  display: block;
  line-height: 1.3em;
  text-decoration: none;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav span {
  display: block;
  cursor: pointer;
  white-space: nowrap;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul span {
  white-space: normal;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav ul li.parent li a {
  background-image: none;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li {
  /*float:left;*/
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav a {
  /*float:left;*/
  padding: 5px 12px 6px 8px;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav ul li,
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav ul li.active {
  float: none;
  margin: 0;
  padding-bottom: 1px;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav ul li.last {
  padding-bottom: 0;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav ul a,
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav ul a:hover {
  float: none;
  padding: 0;
  background: none;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav ul li a {
  font-weight: normal;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav ul,
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav div {
  position: absolute;
  width: 15em;
  left: 2rem;
  left: -10000px;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav div ul {
  position: static;
  width: auto;
  border: none;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav ul ul,
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav ul div {
  top: 5px;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav ul span,
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav ul li.last li span {
  padding: 3px 15px 4px 15px;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li ul.shown-sub,
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li div.shown-sub {
  left: 0;
  z-index: 999;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li .shown-sub ul.shown-sub,
body div.wrapper div.page div.body-wrapper div.col-left-wrapper .nav-container #nav li .shown-sub li div.shown-sub {
  left: 100px;
}
body div.wrapper div.page div.body-wrapper div.col-left-wrapper div.col-left-before {
  display: none;
  font-size: 0.8rem;
}
body div.wrapper div.page div.body-wrapper div.col-main {
  /* PRODUCTS */

}
body div.wrapper div.page div.body-wrapper div.col-main h1 {
  margin: 0 0 0.5rem 0;
  color: #246718;
  font-family: "Droid Serif", sans-serif;
  font-size: 2rem;
  line-height: 100%;
}
body div.wrapper div.page div.body-wrapper div.col-main h2 {
  margin: 0 0 0.5rem 0;
  color: #246718;
  font-family: "Droid Serif", sans-serif;
  font-size: 1.4rem;
  line-height: 100%;
}
body div.wrapper div.page div.body-wrapper div.col-main h3 {
  margin: 0 0 1rem 0;
  color: #524a33;
  font-size: 1.4rem;
  line-height: 100%;
}
body div.wrapper div.page div.body-wrapper div.col-main p {
  margin-bottom: 2rem;
  text-align: justify;
  line-height: 200%;
}
body div.wrapper div.page div.body-wrapper div.col-main ul {
  font-size: 1rem;
  margin-bottom: 2rem;
}
body div.wrapper div.page div.body-wrapper div.col-main ul li {
  line-height: 150%;
  margin: 1rem;
}
body div.wrapper div.page div.body-wrapper div.col-main div.breadcrumbs {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
body div.wrapper div.page div.body-wrapper div.col-main div.breadcrumbs ul {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  text-indent: 0;
}
body div.wrapper div.page div.body-wrapper div.col-main div.breadcrumbs ul:before,
body div.wrapper div.page div.body-wrapper div.col-main div.breadcrumbs ul:after {
  content: " ";
  display: table;
}
body div.wrapper div.page div.body-wrapper div.col-main div.breadcrumbs ul:after {
  clear: both;
}
body div.wrapper div.page div.body-wrapper div.col-main div.breadcrumbs ul:before,
body div.wrapper div.page div.body-wrapper div.col-main div.breadcrumbs ul:after {
  content: " ";
  display: table;
}
body div.wrapper div.page div.body-wrapper div.col-main div.breadcrumbs ul:after {
  clear: both;
}
body div.wrapper div.page div.body-wrapper div.col-main div.breadcrumbs ul li {
  list-style: none;
  float: left;
  clear: none;
  margin: 0;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-grid-entry {
  height: 21rem;
  float: left;
  width: 50%;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-grid-entry div.product-image-wrapper a.product-image {
  margin-left: auto;
  margin-right: auto;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-grid-entry div.product-image-wrapper a.product-image img {
  padding: 0.2rem;
  border: 1px solid #91835a;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-grid-entry div.product-image-wrapper a.product-image:hover img {
  border: 1px solid #524a33;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-grid-entry h3.product-name {
  font-size: 1rem;
  line-height: 1rem;
  margin: 0;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-grid-entry div.ratings {
  font-size: 0.8rem;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-grid-entry div.price-box {
  color: #507d2a;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-grid-entry div.actions {
  font-size: 0.8rem;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-grid-entry ul.add-to-links li {
  list-style: none;
  line-height: 150%;
  margin: 0;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-list-entry {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  border-bottom: 1px solid #91835a;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-list-entry div.product-image-wrapper {
  display: inline;
  float: left;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-list-entry div.product-image-wrapper a.product-image {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-list-entry div.product-image-wrapper a.product-image img {
  width: 100%;
  height: auto;
  padding: 0.2rem;
  border: 1px solid #91835a;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-list-entry div.product-image-wrapper a.product-image:hover img {
  border: 1px solid #524a33;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-list-entry div.product-details {
  display: inline;
  float: left;
  width: 56.25%;
  margin: 0 1.0416666666666665%;
  font-size: 0.8rem;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-list-entry div.product-details h2.product-name {
  color: #524a33;
  font-size: 0.9rem;
  line-height: 1rem;
  margin: 0;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-list-entry div.product-details div.price-box {
  color: #507d2a;
  font-size: 1rem;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-list-entry div.actions {
  font-size: 0.8rem;
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  text-align: right;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-list-entry div.actions button {
  float: right;
  background-color: #5c9030;
  color: #ffffee;
  padding: 0.4rem;
  font-size: 0.7rem;
  border-radius: none;
  border: none;
  box-shadow: none;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-list-entry div.actions button:hover {
  background-color: #68a337;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-list-entry div.actions button:active {
  background-color: #507d2a;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-list-entry div.actions ul {
  font-size: 0.8rem;
  text-indent: none;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-list-entry div.actions ul li {
  margin: 0;
  padding: 0;
  color: #91835a;
  line-height: 120%;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-list-entry.last {
  border: none;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-list-entry:hover {
  background: #ffffff;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-view {
  font-size: 0.8rem;
  line-height: 120%;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-view div.product-essential {
  margin-bottom: 1rem;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-view div.product-essential form div.product-shop p {
  margin-bottom: 0;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-view div.product-essential form div.product-shop div {
  margin-bottom: 0;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-view div.product-essential form div.product-shop div.price-box {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 2rem;
  color: #507d2a;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-view div.product-essential form div.product-shop div.add-to-box {
  margin-top: 0.5rem;
  text-align: right;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-view div.product-essential form div.product-shop div.add-to-box ul.add-to-links {
  font-size: 0.8rem;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-view div.product-essential form div.product-shop div.add-to-box ul.add-to-links li {
  color: #91835a;
  margin: 0;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-view div.product-essential form div.product-img-box {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-view div.product-essential form div.product-img-box p.product-image {
  display: inline;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-view div.product-essential form div.product-img-box p.product-image img {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-view div.product-essential form div.product-img-box div.more-views {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-view div.product-collateral div.box-collateral {
  margin-top: 1rem;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-view div.product-collateral div.box-collateral table ul {
  font-size: 0.8rem;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-view div.product-collateral div.box-collateral table ul li {
  margin: 0;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-view div.product-collateral div.box-tags h3,
body div.wrapper div.page div.body-wrapper div.col-main div.product-view div.product-collateral div.box-tags ul {
  font-size: 0.8rem;
}
body div.wrapper div.page div.body-wrapper div.col-main div.product-view div.product-collateral div.box-tags h3 li,
body div.wrapper div.page div.body-wrapper div.col-main div.product-view div.product-collateral div.box-tags ul li {
  margin: 0;
}
body div.wrapper div.page div.body-wrapper div.col-main div.cart {
  font-size: 0.8rem;
  line-height: 120%;
}
body div.wrapper div.page div.body-wrapper div.col-main div.cart div.page-title ul li {
  margin-left: 0;
}
body div.wrapper div.page div.body-wrapper div.col-main div.cart form {
  margin-bottom: 2rem;
}
body div.wrapper div.page div.body-wrapper div.col-main div.cart form p {
  margin-bottom: 0;
}
body div.wrapper div.page div.body-wrapper div.col-main div.cart form ul li {
  margin-left: 0;
}
body div.wrapper div.page div.body-wrapper div.col-main div.cart form table.cart-table {
  width: 100%;
}
body div.wrapper div.page div.body-wrapper div.col-main div.cart form table.cart-table td,
body div.wrapper div.page div.body-wrapper div.col-main div.cart form table.cart-table th {
  padding-left: 0rem;
  padding-right: 2rem;
}
body div.wrapper div.page div.body-wrapper div.col-main div.cart form table.cart-table td a,
body div.wrapper div.page div.body-wrapper div.col-main div.cart form table.cart-table th a {
  color: #ee8822;
}
body div.wrapper div.page div.body-wrapper div.col-main div.cart form table.cart-table h2.product-name {
  color: #524a33;
  font-size: 1rem;
  text-align: center;
}
body div.wrapper div.page div.body-wrapper div.col-main div.cart form table.cart-table h2.product-name a {
  color: inherit;
}
body div.wrapper div.page div.body-wrapper div.col-main div.cart form table.cart-table h2.product-name a:hover {
  color: #ee8822;
}
body div.wrapper div.page div.body-wrapper div.col-main div.cart div.cart-collaterals div.col2-set .col-1 {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
body div.wrapper div.page div.body-wrapper div.col-main div.cart div.cart-collaterals div.col2-set .col-2 {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
body div.wrapper div.page div.body-wrapper div.col-main div.cart div.cart-collaterals div.totals a {
  color: #ee8822;
  font-size: 0.8rem;
}
body div.wrapper div.page div.body-wrapper div.col-main div.cart div.cart-collaterals div.totals table {
  font-size: 1rem;
}
body div.wrapper div.page div.body-wrapper div.col-main div.cart div.cart-collaterals div.totals ul.checkout-types li {
  margin-left: 0;
  margin-right: 0;
}
body div.wrapper div.page div.body-wrapper div.col-main div.cart div.cart-collaterals div.totals ul.checkout-types li button {
  font-size: 1rem;
}
body div.wrapper div.page div.body-wrapper div.col-right {
  font-size: 0.8rem;
}
body div.wrapper div.page div.body-wrapper div.col-left-after {
  font-size: 0.8rem;
}
body div.wrapper div.page div.block {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #e9e5b1;
  background-color: #f7f5e1;
  line-height: 120%;
}
body div.wrapper div.page div.block div.block-title {
  color: #246718;
  font-size: 1rem;
}
body div.wrapper div.page div.block div.block-content p.block-subtitle {
  font-size: 0.9rem;
}
body div.wrapper div.page div.block div.block-content a {
  color: #91835a;
}
body div.wrapper div.page div.block div.block-content a:hover {
  color: #ee8822;
}
body div.wrapper div.page div.block div.block-content ol#cart-sidebar li div.product-details a {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
body div.wrapper div.page div.footer-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%
				padding: 0 0.5rem 1rem 0.5rem;
  margin: 0;
  background-color: #507d2a;
  color: #ffffee;
}
body div.wrapper div.page div.footer-container:before,
body div.wrapper div.page div.footer-container:after {
  content: " ";
  display: table;
}
body div.wrapper div.page div.footer-container:after {
  clear: both;
}
body div.wrapper div.page div.footer-container:before,
body div.wrapper div.page div.footer-container:after {
  content: " ";
  display: table;
}
body div.wrapper div.page div.footer-container:after {
  clear: both;
}
body div.wrapper div.page div.footer-container div.footer {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  margin-left: 9.374999999999998%;
  padding-top: 2rem;
}
body div.wrapper div.page div.footer-container div.footer ul {
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
}
body div.wrapper div.page div.footer-container div.footer ul li {
  list-style: none;
  font-size: 0.8rem;
}
body div.wrapper div.page div.footer-container div.footer p,
body div.wrapper div.page div.footer-container div.footer address {
  font-size: 0.8rem;
  clear: both;
  text-align: center;
  line-height: 125%;
  margin-bottom: 0;
}
body div.wrapper div.page div.footer-container div.footer p.bugs {
  padding-top: 1rem;
}
/* SITE-WIDE ELEMENTS */
ul,
ol {
  list-style: none;
}
div:before,
div:after {
  content: " ";
  display: table;
}
div:after {
  clear: both;
}
div:before,
div:after {
  content: " ";
  display: table;
}
div:after {
  clear: both;
}
div.block-tags ul.tags-list li {
  float: left;
  margin-right: 0.6rem;
}
div.block-tags div.actions {
  float: none;
  clear: both;
}
div.toolbar {
  clear: both;
}
div.toolbar:before,
div.toolbar:after {
  content: " ";
  display: table;
}
div.toolbar:after {
  clear: both;
}
div.toolbar:before,
div.toolbar:after {
  content: " ";
  display: table;
}
div.toolbar:after {
  clear: both;
}
div.pager {
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  font-size: 0.8rem;
}
div.pager p.amount,
div.pager div.limiter {
  line-height: 1rem;
  margin: 0 !important;
}
div.pager img {
  display: none;
}
div.pager a {
  transition: none;
  -webkit-transition: none;
}
div.pager div.pages ol:before,
div.pager div.pages ol:after {
  content: " ";
  display: table;
}
div.pager div.pages ol:after {
  clear: both;
}
div.pager div.pages ol:before,
div.pager div.pages ol:after {
  content: " ";
  display: table;
}
div.pager div.pages ol:after {
  clear: both;
}
div.pager div.pages ol li {
  float: left;
  clear: none;
  list-style: none;
  margin-right: 0.5rem;
}
div.pager div.pages ol li.current {
  color: #ee8822;
}
div.sorter {
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  margin-left: 51.041666666666664%;
  font-size: 0.8rem;
}
div.sorter img {
  display: none;
}
div.sorter a {
  transition: none;
  -webkit-transition: none;
}
div.sorter p.view-mode {
  margin: 0;
  line-height: 0;
}
div.sorter p.view-mode strong {
  color: #ee8822;
}
div.sorter div.sort-by {
  margin: 0;
}
button {
  background-color: #5c9030;
  color: #ffffee;
  padding: 0.4rem;
  font-size: 0.7rem;
  border-radius: none;
  border: none;
  box-shadow: none;
}
button:hover {
  background-color: #68a337;
}
button:active {
  background-color: #507d2a;
}
input {
  box-shadow: none;
  border: 1px solid #d0c9b4;
  min-height: 1.5rem;
  padding: 0;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-size: 0.8rem;
}
input.qty {
  text-align: center;
}
@media screen and (min-width: 800px) {
  body div.wrapper div.page div.body-wrapper div.col-left-wrapper {
    width: 20%;
    float: left;
  }
  body div.wrapper div.page div.body-wrapper div.col-left-wrapper div.nav-container #nav {
    padding-left: 1rem;
  }
  body div.wrapper div.page div.body-wrapper div.col-left-wrapper div.nav-container #nav li {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
    margin-bottom: 0.5rem;
  }
  body div.wrapper div.page div.body-wrapper div.col-left-wrapper div.col-left-before {
    display: block;
  }
  body div.wrapper div.page div.body-wrapper div.col-left-wrapper div.col-left-before div {
    width: 90%;
    float: left;
    margin: 0 0.5rem 0.5rem 0;
  }
  body div.wrapper div.page div.body-wrapper div.col-left-wrapper div.col-left-before div div {
    width: auto;
    float: none;
  }
  body div.wrapper div.page div.body-wrapper div.col-main {
    width: 60%;
    float: left;
  }
  body div.wrapper div.page div.body-wrapper div.col-main div.cart {
    width: 130%;
  }
  body div.wrapper div.page div.body-wrapper div.col-main div.cart div.cart-collaterals div.col2-set .col-1 {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
  }
  body div.wrapper div.page div.body-wrapper div.col-main div.cart div.cart-collaterals div.col2-set .col-2 {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
  }
  body div.wrapper div.page div.body-wrapper div.col-left-after {
    display: none;
  }
  body div.wrapper div.page div.body-wrapper div.col-right {
    width: 20%;
    float: right;
  }
  body div.wrapper div.page div.body-wrapper div.col-right div {
    width: 90%;
    float: right;
    margin: 0 0 0.5rem 0.5rem;
  }
  body div.wrapper div.page div.body-wrapper div.col-right div div {
    width: auto;
    float: none;
  }
  body div.wrapper div.page div.product-grid-entry {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.0416666666666665%;
  }
}
