


body {

	div.wrapper {

		div.page {

			div.header-container {

			}

			div.body-wrapper {

				div.col-left-wrapper {
					width:20%;
					float:left;

					div.nav-container {

						#nav {
							padding-left:1rem;
							li {
								.column(12);
								margin-bottom:0.5rem;
							}
						}
					}

					div.col-left-before {

						display:block;
						div {
							width:90%;
							float:left;
							margin:0 0.5rem 0.5rem 0;

							div {
								width:auto;
								float:none;
							}
						}
					}
				}
					

				div.col-main {
					width:60%;
					float:left;


					div.product-view {

						div.product-essential {

							form {
								div.product-shop {
									.column(6);
								}

								div.product-img-box {
									.column(6);

									p.product-image {
										
										img {
											float:right;
										}
									}

									div.more-views {
										text-align:right;

										ul {
											li {
												float:right;
											}
										}
									}
								}
							}
						}
					}



					div.cart {
						width:130%;

						div.cart-collaterals {

							div.col2-set {
								.col-1 {
									.column(6);
								}

								.col-2 {
									.column(6);
								}
							}
						}
					}
				}

				div.col-left-after {
					display:none;
				}

				div.col-right {
					width:20%;
					float:right;

					div {
						width:90%;
						float:right;
						margin:0 0 0.5rem 0.5rem;

						div {
							width:auto;
							float:none;
						}
					}
				}


			}

			div.product-grid-entry {
				.column(4);
			}

			div.footer-container {

			}

		}

	}
}