// Variables configured here

@linkHover			: #ee8822;
@backgroundColor1	: #e9e7c4;
@backgroundColor1	: #f2e8c4;
@black				: darken(@backgroundColor1,5%);
@sapGreen			: #507d2a;
@darkGreen			: #244718;
@goldenYellow		: #eeaa33;
@nocturneGreen		: #339a80;

@textColor1:#fff;
@textColor2:#ffd;
@textColor3:#91835A;
@divMargin:4rem;



// Importing custom styles
@import "_base.less";

// With media queries
@import "_desktop.less" screen and (min-width: 600px);